/*******************************************
 Copyright (C) 2010 Vladimir Sadovnikov
 This is free software distributed under
 terms of GNU Public License v2.

*******************************************/

/* Popup windows */
div.popup_window {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #c0c0c0;
	opacity: 0.5;
	text-align: center;
	vertical-align: middle;
}

div.popup_window_border {
	background-color: #ffffff;
	position: absolute;

	border-top:2px solid #8C9497;
	border-right:2px solid #8C9497;
	border-bottom:2px solid #8C9497;
	border-left:2px solid #8C9497;
}

div.popup_window_content {
	background-color: #ffffff;

	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

div.message {
	font-size: 14pt;

}

div.red {
	color: #ff0000;
	font-family: Courier New, monospace;
	font-weight: bold;
}

/* Events */
table tr.error {
	color: #ff0000;
}
